
.outerdiv {
    
        width: 600px;
        height: 150px;
        
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    
  }

  .outerdiv > div{
    margin-bottom: 10px;
  }

  .fields{

      margin-bottom: 10px;

  }